/* HEADER */
.main-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  overflow: visible;
  background: transparent;
}

.main-header,
header,
.header-controls,
.profile {
  overflow: visible;
}

header {
  background: transparent;
  color: #ffffff;
  padding: 10px 30px;
  position: relative;
  
}

header h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: #ffffff;
}

header p {
  max-width: 650px;
  font-size: 1.05rem;
  opacity: 0.95;
}

.header-controls {
  position: absolute;
  top: 23px;
  right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  background: transparent;
}
.header-controls button {
  position: relative;
  z-index: 9999;
}